= f.label :date, "Date/Time:"
%div.row
	%div.form-group
		%div.input-group.date#interview_scheduled_on{ name: 'interview[scheduled_on]'}
			%input{ type: 'text', class: "form-control" }
				%span{ class: "input-group-addon" } 
					%span{ class: "glyphicon glyphicon-calendar" }
					:javascript
						$(function () { $('#interview_scheduled_on').datetimepicker(); });