= f.label :date, "Date/Time:"
%div.row
  %div.form-group
    %div.input-group.date#interview_scheduled_on
      = f.datetime_field :scheduled_on
      %span{ class: "input-group-addon" }
        %span{ class: "glyphicon glyphicon-calendar" }
          :javascript
            $(function () {
              $('#interview_scheduled_on').datetimepicker();
            });
