/ = f.label :date, "Date/Time:"
/ = f.date_field :scheduled_on

/ = f.label :time
/ = f.time_field :scheduled_on
/%div.container
%div.row
	%div.col-sm-6
		%div.form-group
			%div.input-group.date#datetimepicker1
				%input{ type: 'text', class: "form-control" }
					%span{ class: "input-group-addon" } 
						%span{ class: "glyphicon glyphicon-calendar" }
						:javascript
							$(function () { $('#datetimepicker1').datetimepicker(); });