%p
  %strong
    Main Contact:
  Replace me with something meaningful
%p
  %strong
    Date:
  //= @job.interviews.first.interview_date
  = @job.interviews.first.scheduled_on
%p
  %strong
    Time:
  //= @job.interviews.first.interview_time
