<div class="row">
  <div class="form-group">
    <%= form_for :job, url: jobs_path do |f| %>
      <%= render 'job_form', f: f %>
      <%= f.submit "Save job", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
