<div class="center hero-unit">
  <h1>Welcome to Watsticks</h1>

  <h2>
  a place to keep track of all your job opportunities.  Make it easier to see watsticks.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" if signed_out? %>
  <%= link_to "Add another job!", new_job_path, class: "btn btn-large btn-primary" if signed_in? %>
</div>
